#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}



@media print {
    #side-navigation-component {
        display: none;
        width: 0px;
    }

    #main-window {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0px;
    }

    h1 {
        display: none;
    }

    .form-container {
        height: 100%;
        width: 100%;
    }

    footer,
    #footer-component {
        display: none;
    }

    @page {
        size: A4;
        margin: 0.5rem;
    }
}